.tj-tooltip .tooltip-content{
    position: absolute;
    min-width: 200px;
    max-width: 500px;
    display: none;
    background: white;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 7px #0000007a;
    z-index: 1000;
    transform: translateY(calc(-100% - 2em));
    animation: show .5s;
}

.right-content .tj-tooltip .tooltip-content{
    transform: translate(-100%, calc(-100% - 2em));
}

.tj-tooltip{
    cursor: pointer;
    display: inline-block;
}

.tj-tooltip p{
    cursor: pointer;
    display: inline-block;
}

.tj-tooltip:hover > .tooltip-content{
    display: block;
}

@keyframes show{
    0%{ opacity: 0; }
    100% { opacity: 1; }
}

.langage-description{
    color: #505050;
    max-width: 300px;
}

.langage-description img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    object-position: center;
}

.langage-description .description{
    padding: 12px;
}